.ingredients {
    margin-bottom: 2rem;
}

.ingredient {
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
    padding: 0.5rem 2rem;

    &:last-child {
        border-bottom: 0;
    }

    &-quantity {
        background-color: #f18042;
        color: white;
        padding: 0.3rem 1rem;
        border-radius:  0.3rem;
        display: inline-block;
    }
}